@media (max-width: 880px) {
    .lower-navbar{
      display: none !important;
    }
    .ham-burger {
      display: block;
    }
    .lower-navbar {
      background-color: white !important;
    }
  }
  @media (min-width: 880px) {
    .lower-navbar{
      display: flex !important;
    }
    .ham-burger {
      display: none;
    }
  }